
<router-outlet>
    <div>
        <mat-toolbar color="primary" class="animated fadeInDown">
      
          <a mat-raised-button routerLink="." class="scrollTo button-menu" routerLink="/">PORTFOLIO</a>
          <div class="button-row menu-button">
              <ul class="cards">
                  <li *ngFor="let card of cards">
                    <a mat-raised-button routerLink="." href="#competences" class="scrollTo button-menu" routerLink="/{{card.id}}">
                      {{card.name}}
                    </a>
                  </li>
                </ul>
            </div>
        </mat-toolbar>
    </div>

    <div class="parallax parallax-1 animated fadeIn">

      
      <h1 class="title animated fadeIn">Morgan Millet</h1>
      <h2 class="title2 animated fadeIn">Développeur Full-Stack</h2>
      
      <div class="button-row animated fadeIn">
        <a mat-raised-button routerLink=".">Télécharger le CV en PDF</a>
      </div>
    </div>

    



    <!--
    <nav>
      <a routerLink="/dashboard">Dashboard</a>
      <a routerLink="/cards">Cards</a>
    </nav>
    -->
    <app-messages></app-messages>
</router-outlet>

<!--

<!-- <div class="parallax parallax-3 animated fadeIn"></div> -->

<!--

-->

<!-- <div class="parallax parallax-4 animated fadeIn"></div> -->

<!--


<!-- <div class="parallax parallax-5 animated fadeIn"></div> -->

<!--

-->

<!-- <div class="parallax parallax-7 animated fadeIn"></div> -->

<!--


<br><br><br><br><br><br><br>

-->

