<div id="competences">
    <br><br>
    <mat-card class="animated fadeInUpBig">
      <div>
          <div class="row area">
            <h1>Compétences</h1>
    
            <div class="col-md-6">
              <h2>Back-End</h2>
              <hr>
              <h3>PHP</h3>
              <p>
                <b>PHP 7</b> est mon langage de prédilection, grâce à lui, je dynamise mes
                sites web et leur donne vie.
              </p>
            </div>
            <div class="col-md-6">
              <img src="../assets/images/PHP-Logo.png" alt="php">
            </div>
          </div>
          
    
          <div class="row area">
            <div class="col-md-6">
              <h3>SYMFONY</h3>
              <p>
                <b>Symfony 4</b> est l'un de mes framework favori, je peux rendre mes sites rapides,
                performants et sécruisés. Parfait pour des sites E-Commerces ou d'autres grands projets.
              </p>
            </div>
            <div class="col-md-6">
              <img src="../assets/images/symfony_logo.png" alt="symfony">
            </div>
          </div>
    
          <div class="row area">
            <div class="col-md-6">
              <h2>Front-end</h2>
              <hr>
              <h3>Les scripts</h3>
              <p>
                Le <b>Typescript</b> est un langage récent qui complète le <b>Javascript</b>,
                celui ci va de pair avec le framework Angular de Google.
              </p>
            </div>
              <div class="col-md-6">
                <img src="../assets/images/typescript-logo.png" alt="typescript">
                <img src="../assets/images/javascript.png" alt="javascript">
              </div>
          </div>
      
          <div class="row area">
            <div class="col-md-6">
              <h2>Pour les sites vitrines</h2>
              <hr>
              <p>
                <b>Angular</b> est un framework qui se prète tout particulièrement aux sites vitrines, accompagné du Typescript,
                je peux faire des sites animées et perfermormant.
              </p>
            </div>
            <div class="col-md-6">
              <img src="../assets/images/angular.png" alt="angular">
            </div>
          </div>
      
          <div class="row area">
            <div class="col-md-6">
              <h2>Language du web</h2>
              <hr>
              <p>
                J’ai une bonne maîtrise du <b>HTML</b> et du <b>CSS</b> ainsi que de <b>Bootstrap</b>.
                J’utilise également <b>jQuery</b> pour les animations.
              </p>
            </div>
            <div class="col-md-6">
              <img src="../assets/images/html_css.png" alt="html_css">
              <img src="../assets/images/Bootstrap.png" alt="bootstrap">
              <img src="../assets/images/jquery.png" alt="jquery">
              <img src="../assets/images/Sass_Logo.svg.png" alt="sass">
            </div>
          </div>
      
          <div class="row area">
            <div class="col-md-6">
              <h2>Divers</h2> 
              <hr>
              <h3>C</h3>
              <p>
                Pendant ma "piscine" (Concours sur une durée d'un mois) à l'école Le-101, j'ai été ammené à créer des algorithmes en langage <b>C</b> afin de résoudre différents type de problèmes.
              </p>
            </div>
            <div class="col-md-6">
              <img src="../assets/images/C.png" alt="C">
            </div>
          </div>
      </div>
    </mat-card>
    </div>