<div id="env">
    <br><br>
    <mat-card class="animated fadeInUpBig">
      <br><br>
        <h1>Environement de travail</h1>
  
        <div class="row area">
  
          <div class="col-md-6">
            <h2>IDE & EDITEURS</h2>
            <hr>
            <p>
              J’utilise principalement les IDE <b>Phpstorm</b> et <b>Visual Studio Code</b> ainsi que des éditeurs comme <b>Sublime Text</b> ou <b>Atom</b>.
            </p>
          </div>
          <div class="col-md-6">
              <img src="../assets/images/phpstorm.png" alt="phpstorm">
              <img src="../assets/images/visualstudiocode.png" alt="visualstudiocode">
            </div>
        </div>
          
        <div class="row area">
          <div class="col-md-6">
            <h2>GIT / LINUX</h2>
            <hr>
            <p>
              Je versionne mon code avec <b>Git</b> via PhpStorm ou en ligne de commande.
              <br>
              Je sais utiliser et configurer un environnement <b>linux</b> pour un environnement de bureau ou serveur.
            </p>
          </div>
          <div class="col-md-6">
            <img src="../assets/images/git.png" alt="git">
            <img src="../assets/images/linux.png" alt="linux">
          </div>
        </div>
    </mat-card>
  </div>