<div id="formations">
  <br><br>
  <mat-card class="animated fadeInUpBig">
      <h1>Formation</h1>
      <div class="row area">
        <div class="col-md-12">
          <h3>BTS SIO</h3>
          <h4></h4>
      
          <br>
      
          <h3>Le-101</h3>
          <h4>"Piscine" d'une durée de 3 semaines dans laquel j'ai appris les bases du Shell ainsi que la programmation en langage C.</h4> 
          
          <br>
      
          <h3>BAC STMG option SIG</h3>
          <h4>BAC technologique en option informatique pendant lequel nous devions créer en groupe un site basique en HTML, CSS et MySql. J'ai en plus fait du PHP en complément de ce qui était demandé au BAC.</h4>
        </div>
      </div>
  </mat-card>
</div>